{% extends 'base_generic.html' %}

{% block title %}
CookingBOX | 로그인
{% endblock %}

{% block content %}
  <div style="height:100px;"></div>
  {% if error %}
    <script type="text/javascript">alert("{{ error }}")</script>
  {% endif %}
  <h1>로그인</h1>
  <form class="account-form" method="POST" action="{% url 'login'%}">
    {% csrf_token %}
    <br>
    <input name="username" type="text" value="" placeholder="아이디" required>
    <br>
    <br>
    <input name="password" type="password" value="" placeholder="비밀번호" required>
    <br>
    <br>
    <input class="btn btn-danger" type="submit" value="로그인하기">
  </form>
{% endblock %}