{% extends 'base_generic.html' %}

{% block title %}
CookingBOX | 내 정보
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <br>
    <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h1>내가 찜한 레시피</h1>
      {% if recipe_list %}
        <br>
        {% for recipe in recipe_list %}
          <div class="card text-white col-sm-12" style="border:none;">
            <img class="card-img" src="{{ recipe.profile.url }}" style="width:100%;max-height:250px;object-fit:cover;box-shadow: 4px 4px 12px gray;">
            <a href="{{ recipe.get_absolute_url }}">
              <div class="card-img-overlay">
                <h1><span class="badge badge-light">{{ recipe.title }}</span></h1>
                <h4>{% for genre in recipe.genre.all %}<span class="badge badge-danger">{{ genre }}</span>{% if not forloop.last %} {% endif %}{% endfor %}</h4>
              </div>
            </a>
            <form style="z-index:5;box-shadow: 4px 4px 12px gray;" method="POST" action="{% url 'defavorite'%}">
              {% csrf_token %}
              <input name="recipe_id" type="text" value="{{ recipe.id }}" style="display:none">
              <input style="width:100%;" class="btn btn-danger" type="submit" value="찜목록에서 삭제하기">
            </form><br>
          </div>
        {% endfor %}
      {% endif %}
      <br>
      <h1>구매 목록</h1>
      {% for purchase in purchase_list %}
        <div class="card" style="box-shadow: 2px 2px 6px gray;"">
          <div class="card-body text-center">
            <span>{{ purchase.product }}</span>
          </div>
          <div class="card-footer text-center">
            <h3>{{ purchase.price }} 원</h3>
          </div>
        </div>
        <br>
      {% endfor %}
    </div>
    <div class="col-sm-1"></div>
    <br>
    </div>
  </div>
{% endblock %}