{% extends "base_generic.html" %}

{% block title %}CookingBox | 레시피{% endblock %}

{% block content %}
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <img src="{{ recipe.profile.url }}" class="img-fluid rounded" alt="요리 사진" style="box-shadow: 4px 4px 12px gray">
      </div>
      <div class="col-sm-5">
        <br>
        <h1>{{ recipe.title }}</h1>
        <h4>{% for genre in recipe.genre.all %}<span class="badge badge-danger">{{ genre }}</span>{% if not forloop.last %} {% endif %}{% endfor %}</h4>
        <p>{{ recipe.subtitle }}</p>
        <form method="POST" action="{% url 'favorite'%}">
          {% csrf_token %}
          <input name="recipe_id" type="text" value="{{ recipe.id }}" style="display:none">
          <input style="width:100%" class="btn btn-danger" type="submit" value="찜하기">
        </form>
        <div style="height:10px;"></div>
        <form method="POST" action="{% url 'buy'%}">
          {% csrf_token %}
          <input name="recipe_id" type="text" value="{{ recipe.id }}" style="display:none">
          <input style="width:100%" class="btn btn-danger" type="submit" value="구매하러가기">
        </form>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
        <br><br>
        <h2>필요한 재료</h2>
      </div>
      {% for ingredient in recipe.ingredient.all %}
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <b>{{ ingredient.name }} {{ ingredient.amount }}</b>
        </div>
      {% endfor %}
      {% if not recipe.ingredient.all.count|divisibleby:"2" %}
        <div class="col-sm-6"></div>
      {% endif %}
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
      <br><br><h2>요리법</h2>
      </div>
      {% for image in recipe.image.all %}
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <img src="{{ image.image.url }}" class="img-fluid rounded" alt="레시피 사진" style="box-shadow: 4px 4px 12px gray">
        </div>
        <div class="col-sm-5">
          <br>
          <h3>{{ image.description }}</h3>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-12"><br></div>
      {% endfor %}
    </div>
  </div>
{% endblock %}