{% extends 'base_generic.html' %}

{% block title %}CookingBox | 레시피{% endblock %}

{% comment %}
{% block header %}
{% endblock %}
{% endcomment %}

{% block content %}
  <div class="container-fluid">
    <div class="col-sm-12"><br></div>
    <h1>모든 레시피</h1>
    {% if recipe_list %}
      {% for recipe in recipe_list %}
        <div class="card bg-dark text-white col-sm-12">
          <img class="card-img" src="{{ recipe.profile.url }}" style="width:100%;max-height:250px;object-fit:cover;">
          <a href="{{ recipe.get_absolute_url }}">
            <div class="card-img-overlay">
              <h1><span class="badge badge-light">{{ recipe.title }}</span></h1>
              <h4>{% for genre in recipe.genre.all %}<span class="badge badge-danger">{{ genre }}</span>{% if not forloop.last %} {% endif %}{% endfor %}</h4>
            </div>
          </a>
        </div>
      {% endfor %}
    {% endif %}
    <br>
  </div>
{% endblock %}
