{% extends 'base_generic.html' %}

{% block title %}CookingBox | 둘러보기{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h1 style="margin-left:25px">모든 레시피</h1>
    {% if recipe_list %}
      {% for recipe in recipe_list %}
        <br>
        <div class="card text-white col-sm-12" style="border:none;">
          <img class="card-img" src="{{ recipe.profile.url }}" style="width:100%;max-height:250px;object-fit:cover;box-shadow: 4px 4px 12px gray;">
          <a href="{{ recipe.get_absolute_url }}">
            <div class="card-img-overlay">
              <h1><span class="badge badge-light">{{ recipe.title }}</span></h1>
              <h4>{% for genre in recipe.genre.all %}<span class="badge badge-danger">{{ genre }}</span>{% if not forloop.last %} {% endif %}{% endfor %}</h4>
            </div>
          </a>
        </div>
      {% endfor %}
    {% endif %}
    <br>
  </div>
{% endblock %}
