{% extends 'base_generic.html' %}

{% block title %}CookingBox | 검색{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <h1>"{{ query }}"에 대한 검색 결과</h1>
        {% for recipe in recipe_list %}
          <br>
          <div class="card text-white col-sm-12" style="border:none;">
            <img class="card-img" src="{{ recipe.profile.url }}" style="width:100%;max-height:250px;object-fit:cover;box-shadow: 4px 4px 12px gray;">
            <a href="{{ recipe.get_absolute_url }}">
              <div class="card-img-overlay">
                <h1><span class="badge badge-light">{{ recipe.title }}</span></h1>
                <h4>{% for genre in recipe.genre.all %}<span class="badge badge-danger">{{ genre }}</span>{% if not forloop.last %} {% endif %}{% endfor %}</h4>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="col-sm-1"></div>
    </div>


    <br>
  </div>
{% endblock %}
